body {
    font-family: 'Open Sans';
    font-size: 10px;
}

#wrapper {
    width: 900px;
    margin: auto;
    border:1px solid black;
}

#center {
    width: 400px;
    margin:auto;
    padding:20px;
}

h1 {
    font-size: 55px;
    font-family: 'Roboto';
    text-align: center;
}

.tabs {
    width: 100%;
    overflow: hidden;
    margin: auto;
    width: 900px;
    border: 1px solid red;
    text-transform: uppercase;
    font-weight: bold;
    background: #ff5d00;
}

    .tabs ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .tabs li {
        display: inline;
        margin: 0;
    }

        .tabs li a {
            float: left;
            display: block;
            text-decoration: none;
            margin: 0;
            padding: 7px 58px;
            color: white;
            background: #ff5d00;
        }

            .tabs li a:visited {
                color: white;
            }

            .tabs li a:hover, .tabs li.selected a {
                background: black; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
            }
